<div class="the-contents">
    <div class="title-logo text-center my-5">
        <div class="title">
            <h3 id="title">{{title}}</h3>
        </div>
    </div>
    <div class="the-content">
        <div class="row gx-5 bg-warning rounded my-5 py-5">
            <div class="col">
                <div class="p-4 bg-dark rounded-pill text-center">
                    <a class="text-decoration-none text-light" href="/freepage" rel="noopener noreferrer">
                        <h5>Go <span class="bg-warning p-2 px-4 rounded-pill">Public</span></h5>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="p-4 bg-dark rounded-pill text-center">
                    <a id="opener" class="text-decoration-none text-light" rel="noopener noreferrer"
                        style="cursor: pointer;">
                        <h5>Go <span class="bg-warning p-2 px-4 rounded-pill">Premium</span></h5>
                    </a>
                    <a id="goNow" href="/prempage" rel="noopener noreferrer" style="display: none;">Go Now</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="dialog" title="Password" class="text-center">
    <input id="password" type="password" placeholder="password">
    <button id="verify" class="btn btn-primary my-2">Verify</button>
</div>

{{!-- CUSTOME JAVASCRIPT --}}
<script>
    $("#dialog").dialog({
        autoOpen: false,
        show: {
            effect: "shake",
            duration: 1000
        },
        hide: {
            effect: "explode",
            duration: 1000
        }
    });

    $("#opener").click(function () {
        $("#dialog").dialog("open");
    });

    document.getElementById('verify').addEventListener('click', () => {
        let pass = document.getElementById('password').value
        let thePass = 'itcc_14'
        pass === thePass ? ($('#goNow').slideDown('slow', () => {
            ($('#dialog').hide('fast', () => {
                $( this ).prev().hide( "slow", arguments.callee );
            }))
        })) : (alert("Try Again"), document.getElementById('password').value = '')
    })

</script>